@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #e5e7eb; /* slate-200 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}