@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #e5e7eb; /* slate-200 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
/* Scrollbar tamamen gizle ama scroll çalışsın */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE ve Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Edge (WebKit) */
}